NODE_ENV=development | production
TELEGRAM_TOKEN=TELEGRAM TOKEN
TELEGRAM_CHAT_ID=CHAT ID
DB_USER=DB USER
DB_PASSWORD=DB PASSWORD
DB_HOST=DB HOST
DB_PORT=DB PORT
DB_NAME=DB NAME
TZ=Europe/Madrid